@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #293566; /* Blue */
  --color-secondary: #171821; /* Black */
  --color-white: #FFFFFF; /* White */
  --color-blue-iris: #2A41A8; /* Blue Iris */
  --color-sky-blue: #36A4BA; /* Sky Blue */
  --color-light-gray: #F0F3F4; /* Light Gray */
  --color-gray: #AFB6BC; /* Gray */
  --color-dark-gray: #262A2C; /* Dark Gray */

  --font-family: "Bungee", sans-serif;
  --font-text: "Quicksand", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  color: var(--color-white);
}
