@import "tailwindcss";

@theme {
  --color-primary: #091245; /* Blue */
  --color-secondary: #000000; /* Black */
  --color-white: #FFFFFF; /* White */
  --color-purple: #8C02D4; /* Purple */
  --color-light-purple: #E0A9FC; /* Light Purple */
  --color-light-gray: #F0F3F4; /* Light Gray */
  --color-dark-gray: #262A2C; /* Dark Gray */

  --font-family: "Bungee", sans-serif;
  --font-text: "Quicksand", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  color: var(--color-white);
}
