@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #3348EA; /* Blue */
  --color-secondary: #000000; /* Black */
  --color-white: #FFFFFF; /* White */
  --color-green: #83FF30; /* Green */
  --color-orange: #FF6608; /* Orange */
  --color-light-gray: #C0D5DC; /* Light Gray */
  --color-gray: #AFB6BC; /* Gray */
  --color-dark-gray: #262A2C; /* Dark Gray */

  --font-family: "Bungee", sans-serif;
  --font-text: "Quicksand", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--color-secondary);
  color: var(--color-white);
}
